SimplePlotter/**/*config*.yaml
SimplePlotter/Truth-Recoil-using-Rivet
SimplePlotter/TopoClusterTruthStudy
**/*__pycache__
**/*.root
**/*venv
**/*/.idea
**/*__pycache__
**/*.DS_Store
**/*test
**/*fal_out_Wlnu
**/*output1_wenu/
**/*.swp
**/*.cfg
